* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.container h1 {
    margin: 20px;
}

table {
    width: 80%;
    margin: 20px;
    border: 1px solid black;
}

thead tr th {
    border: 2px solid black;
}

tbody tr td {
    border: 1px solid black;
    padding-left: 10px;
}

